*{
    margin: 0;
    padding: 0;
    color:antiquewhite;
    background-color: black;
}

.bg{
    margin:auto;
    background-image: url(image.jpg);
    width:380px;
    height:500px;
    background-size: cover;
    display:flex;
}



.cardcontent , .cardcontent * {
    background-color: transparent;
}
.cardcontent{
    background-color: #000000bb;
    margin-top: 85%;
    width:100%;  
}
button{
    background-color: #05050592;
    font-size: 40px;
    width: 100%;
    border:none;
}

.cardtitle{
    margin-top: 10px;
    text-align: center;
}

.des1{
     margin-top: 10px;
    text-align: center;
}

.des2{
     margin-top: 5px;
    text-align: center;
}

.icons{
     margin-top: 10px;
    text-align: center;
}


